*{
	margin: 0;
	padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: dodgerblue;
    font-size: 16px;
    color: #777;
    font-family : sans-serif;
    font-weight: 300;
}
h1{
    text-align: center;
    position: relative;
    top: 70px;
    font-family: monospace;
}
table{
    text-align: center;
    position: relative;
    top: 140px;
    padding: 5px;
}
td,tr{
    padding: 5px;
}
.img{
    text-decoration: none;
    box-sizing: border-box;
    background-color: #efefef;
    color: red;
    padding: 5px;
}